<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>

    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}

        <link rel="import"
              href="{{ asset('/assets/vendor/paper-scroll-header-panel/paper-scroll-header-panel.html') }}"/>
        <link rel="import" href="{{ asset('/assets/vendor/polymer/polymer.html') }}"/>
        <link rel="import" href="{{ asset('/assets/vendor/iron-icons/iron-icons.html') }}"/>
        <link rel="import" href="{{ asset('/assets/vendor/paper-toolbar/paper-toolbar.html') }}"/>
        <link rel="import" href="{{ asset('/assets/vendor/paper-button/paper-button.html') }}"/>

    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body>

{% block body %}{% endblock %}

{% block javascripts %}

    <script src="{{ asset('/assets/vendor/platform/platform.js') }}"></script>
    <script src="{{ asset('/assets/vendor/webcomponentsjs/webcomponents.js') }}"></script>

{% endblock %}

</body>
</html>
